<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.inria.arles.iris"
    android:versionCode="1"
    android:versionName="2.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <permission
        android:name="fr.inria.arles.yarta.ACCESS_DATA"
        android:label="Access Social Data"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="fr.inria.arles.yarta.ACCESS_DATA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Required for ibicoop to work properly -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="fr.inria.arles.yarta.android.library.YartaApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="fr.inria.arles.yarta.android.library.EulaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.inria.arles.yarta.android.library.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeNoTitlebar"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="fr.inria.arles.yarta.android.library.LoginActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="iris" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.inria.arles.yarta.android.library.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="fr.inria.arles.yarta.android.library.MessageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/message_title" />
        <activity
            android:name="fr.inria.arles.yarta.android.library.ProfileActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/profile_title"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="fr.inria.arles.yarta.android.library.GroupActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/group_title" />
        <activity
            android:name="fr.inria.arles.yarta.android.library.PostActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/post_title" />
        <activity android:name="fr.inria.arles.yarta.android.library.NotifActivityHandler" />

        <service
            android:name="fr.inria.arles.yarta.android.library.LibraryService"
            android:permission="fr.inria.arles.yarta.ACCESS_DATA" >
            <intent-filter>
                <action android:name="fr.inria.arles.yarta.android.library.LibraryService" >
                </action>
            </intent-filter>
        </service>

        <receiver
            android:name="fr.inria.arles.yarta.android.library.BootUpReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <provider
            android:name="fr.inria.arles.yarta.android.library.YartaContentProvider"
            android:authorities="fr.inria.arles.yarta.android.library.YartaContentProvider"
            android:exported="true"
            android:permission="fr.inria.arles.yarta.ACCESS_DATA" >
        </provider>
    </application>

</manifest>