<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.inria.arles.iris"
    android:versionCode="61"
    android:versionName="2.6.9" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <permission
        android:name="fr.inria.arles.yarta.ACCESS_DATA"
        android:description="@string/app_socialdata_description"
        android:label="@string/app_socialdata"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="fr.inria.arles.yarta.ACCESS_DATA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="fr.inria.arles.iris.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="fr.inria.arles.iris.permission.C2D_MESSAGE" />
    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name="fr.inria.arles.yarta.android.library.YartaApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="fr.inria.arles.yarta.android.library.EulaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.inria.arles.yarta.android.library.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="fr.inria.arles.yarta.android.library.MessageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/message_title" />
        <activity
            android:name="fr.inria.arles.yarta.android.library.MessagesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/message_title" />
        <activity
            android:name="fr.inria.arles.yarta.android.library.ProfileActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/profile_title"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="Yarta.Profile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.inria.arles.yarta.android.library.GroupActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/group_title" />
        <activity
            android:name="fr.inria.arles.yarta.android.library.PostActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/post_title" />

        <service
            android:name="fr.inria.arles.yarta.android.library.LibraryService"
            android:exported="true"
            android:permission="fr.inria.arles.yarta.ACCESS_DATA" >
            <intent-filter>
                <action android:name="fr.inria.arles.yarta.android.library.LibraryService" >
                </action>
            </intent-filter>
        </service>
        <service
            android:name="fr.inria.arles.yarta.android.library.sync.SyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync" />
        </service>

        <activity
            android:name="fr.inria.arles.yarta.android.library.auth.AuthenticatorActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeNoTitlebar"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="fr.inria.arles.yarta.android.library.auth.AuthenticatorActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="iris" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.inria.arles.yarta.android.library.TopicActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/topic_title" />
        <activity
            android:name="fr.inria.arles.yarta.android.library.FileActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/file_title" />

        <service
            android:name="fr.inria.arles.yarta.android.library.auth.AuthenticatorService"
            android:permission="fr.inria.arles.yarta.ACCESS_DATA" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <receiver
            android:name="fr.inria.arles.yarta.android.library.BootUpReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <provider
            android:name="fr.inria.arles.yarta.android.library.YartaContentProvider"
            android:authorities="fr.inria.arles.yarta.android.library.YartaContentProvider"
            android:exported="true"
            android:permission="fr.inria.arles.yarta.ACCESS_DATA" >
        </provider>

        <receiver
            android:name="fr.inria.arles.yarta.middleware.communication.CommBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="fr.inria.arles.yarta.middleware.communication" />
            </intent-filter>
        </receiver>

        <service
            android:name="fr.inria.arles.yarta.middleware.communication.GCMIntentService"
            android:enabled="true" />
    </application>

</manifest>